{% extends 'base.html' %}


{% block content %}
    <form action="{% url 'abc-create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% if form.errors %}
  <ul>
    {% for error in form.errors %}
      <li>{{ error }}</li>
    {% endfor %}
  </ul>
{% endif %}
    <div class="container" style="padding:15% 0 5%" >
    {{form.as_p}}
        <button type="submit">submit</button>
</div>
    </form>
    <style>
    .container input{
    border: black 1px solid;
        padding: 10px;
    }
    .container select{
    border: black 1px solid;
        padding: 5px;
        width: 150px;
    }
        .container textarea{
    border: black 1px solid;
            padding: 5px;
    }
    </style>
{% endblock %}
