{% extends 'base.html' %}


{% block content %}
    <div class="container" style="padding:15% 0 5%" >



<form action="{% url 'vehicle-create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <input type="submit" value="Save"/>

</form>

</div>
    <style>
    .container input{
    border: black 1px solid;
        padding: 10px;
    }
    .container select{
    border: black 1px solid;
        padding: 5px;
        width: 150px;
    }
        .container textarea{
    border: black 1px solid;
            padding: 5px;
    }
    </style>
{% endblock %}


