{% extends 'base_create.html' %}
{% block create_content %}


<form action="{% url 'property-create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
{% include 'includes/image_create.html' %}

    <p>
    <label for="id_ad-title">Title:</label>
    <input type="text" name="ad-title" maxlength="100" required="" id="id_ad-title">
  </p>
  <p>
    <label for="id_ad-description">Description:</label>
    <textarea name="ad-description" cols="40" rows="10" required="" id="id_ad-description"></textarea>
  </p>
  <p>
    <label for="id_ad-price">Price:</label>
    <input type="number" name="ad-price" value="0" min="0" id="id_ad-price">
  </p>
  <p>
    <label for="id_ad-currency">Currency:</label>
    <input type="text" name="ad-currency" value="USD" maxlength="20" id="id_ad-currency">
  </p>
  <p>
    <label for="id_ad-is_active">Is active:</label>
    <input type="checkbox" name="ad-is_active" id="id_ad-is_active" checked="">
  </p>
  <p>
    <label for="id_ad-category">Category:</label>
    <select name="ad-category" required="" id="id_ad-category">
        {% for category in categories %}
              <option value="{{ category.id }}" selected="">{{ category.property_category }}</option>
        {% endfor %}
    </select>
  </p>
  <p>
    <label for="id_ad-property_type">Property type:</label>
    <select name="ad-property_type" required="" id="id_ad-property_type">
        {% for type in types %}
              <option value="{{ type.id }}">{{ type.property_type }}</option>
        {% endfor %}

</select>
  </p>
  <p>
    <label for="id_ad-rental_period">Rental period:</label>
    <select name="ad-rental_period" id="id_ad-rental_period">
        {% for rent in rental_period %}
          <option value="{{ rent.id }}" selected="">{{ rent.rental_period }}</option>
        {% endfor %}
</select>
  </p>
  <p>
    <label for="id_ad-condition">Condition:</label>
    <select name="ad-condition" id="id_ad-condition">
  {% for cond in condition %}
    <option value="{{ cond.id }}">{{ cond.condition }}</option>
  {% endfor %}
</select>
  </p>
  <p>
    <label for="id_ad-bedrooms">Bedrooms:</label>
    <select name="ad-bedrooms" id="id_ad-bedrooms">
        {% for bedroom in bedrooms %}
          <option value="{{ bedroom.id }}" selected="">{{ bedroom.bedrooms }}</option>
        {% endfor %}
</select>
  </p>
  <p>
    <label for="id_ad-bathrooms">Bathrooms:</label>
    <select name="ad-bathrooms" id="id_ad-bathrooms">
        {% for bathroom in bathrooms %}
          <option value="{{ bathroom.id }}">{{ bathroom.bathroom }}</option>
        {% endfor %}
    </select>
  </p>
  <p>
    <label for="id_ad-square">Square:</label>
    <select name="ad-square" id="id_ad-square">
        {% for sq in square %}
          <option value="{{ sq.id }}">{{ sq.square }}</option>
        {% endfor %}
    </select>
  </p>
  <p>
    <label for="id_ad-number_of_floors">Number of floors:</label>
    <input type="number" name="ad-number_of_floors" min="0" required="" id="id_ad-number_of_floors">
  </p>
  <p>
    <label for="id_ad-floor">Floor:</label>
    <input type="number" name="ad-floor" min="0" required="" id="id_ad-floor">
  </p><p>
    <label for="id_country__address-country">Country:</label>
    <input type="text" name="country__address-country" maxlength="100" required="" id="id_country__address-country">
  </p><p>
    <label for="id_state__address-state">State:</label>
    <input type="text" name="state__address-state" maxlength="100" required="" id="id_state__address-state">
  </p><p>
    <label for="id_address__address-address">Address:</label>
    <input type="text" name="address__address-address" maxlength="100" id="id_address__address-address">
  </p>
{% include 'includes/map_create.html' %}
    <input type="submit" value="Save"/>
</form>


{% endblock %}
