{% extends 'base.html' %}
{% load static %}
{% block content %}





      <div class="page">
         <div class="page__top-block top-block top-block_padding top-block_job-single">
            <div class="top-block__image -ai"><img src="{% static 'img/top-block/news single.png' %}" alt=""></div>
            <div class="top-block__container -container">
               <div class="top-block__body">
                  <h2 class="top-block__title top-title" data-me="767.98, .filter__container, first">Entertainments single</h2>
                  <div class="top-block__search search search_top">
                     <div class="search__body">
                        <form action="#" class="search__row">
                           <div class="search__input"><input class="-req -name" autocomplete="off" type="text" name="keyword"
                                 data-value="Your keyword"></div>
                           <button type="submit" class="search__btn"><span>Search</span><span
                                 class="-icon-search"></span></button>
                        </form>
                     </div>
                  </div>
                  <!-- <div class="top-block__row"> -->
                     <!-- <div class="top-block__breadcrumbs breadcrumbs-top-block">
                        <ul class="breadcrumbs-top-block__list">
                           <li><a href="">Home</a></li>
                           <li>ABC single</li>
                        </ul>
                     </div> -->
                  <!-- </div> -->
               </div>
            </div>
         </div>
         <div class="page__product product product_abc-single">
            <div class="product__container -container">
               <div class="product__main">
                  <div class="product__header">
                    {% include 'includes/product_rating.html' %}
                  </div>
                  <div class="product__info info-product info-product_lhide">
                     <div class="info-product__body">
                        <h2 class="info-product__title info-product__title_job-single">
                           <span>{{ object.title }}<span class="red"></span></span>
                           Sicamous, BC, V0E 2V1  Listing ID: 10161461
                        </h2>
                        <div class="info-product__row">
                           <ul class="info-product__list">
                             <li>
                                 Address:
                                 <span>{{ object.type }}</span>
                              </li>
                              <li>
                                 Address:
                                 <span>{{ object.address }}</span>
                              </li>
                              <li>
                                 Work graphic:
                                 <span>{{ object.start_time|time:"H:i" }} - {{ object.end_time|time:"H:i" }}</span>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="product__photos photos-cafe-single">
                    <div class="photos-cafe-single__grid">
                         {% for img in object.imgs.all|slice:':1' %}
                           <div class="photos-cafe-single__image photos-cafe-single__image_big -ai"><img src="{{ img.img.url }}" alt=""></div>
                         {% endfor %}

                        <div class="photos-cafe-single__subgrid">
                            {% for img in object.imgs.all|slice:'1:' %}
                                <div class="photos-cafe-single__image photos-cafe-single__image_small -ai"><img src="{{ img.img.url  }}" alt=""></div>
                            {% endfor %}
                        </div>
                     </div>
                  </div>
                  <!-- <div class="product__photos photos-product">
                     <div class="photos-product__images photos-product__images_4">
                        <div class="photos-product__image -ai"><img src="img/catalog/image.jpg" alt=""></div>
                        <div class="photos-product__image -ai"><img src="img/catalog/image.jpg" alt=""></div>
                        <div class="photos-product__image -ai"><img src="img/catalog/image.jpg" alt=""></div>
                        <div class="photos-product__image -ai"><img src="img/catalog/image.jpg" alt=""></div>
                     </div>
                  </div> -->
                  <div class="product__descs">
                     <div class="product__desc">
                        <h3 class="product__label label-product label-product_big">Description:</h3>
                        <p class="product__text">{{ object.description }}</p>
                     </div>
                  </div>
                  <!-- <div class="product__pricelist"> -->
                     <!-- <h3 class="product__label label-product label-product_big">Price:</h3> -->
                     <!-- <div class="product__prices-list prices-list-product">
                        <div class="prices-list-product__header -line-list">
                           <h2 class="prices-list-product__title -line-list">Servis</h2>
                           <h2 class="prices-list-product__title">Price</h2>
                        </div>
                        <div class="prices-list-product__body">
                           <div class="prices-list-product__item">
                              <div class="prices-list-product__label -line-list">Стрижка мужская</div>
                              <div class="prices-list-product__price">60$</div>
                           </div>
                           <div class="prices-list-product__item">
                              <div class="prices-list-product__label -line-list">Стрижка женская</div>
                              <div class="prices-list-product__price">80$</div>
                           </div>
                           <div class="prices-list-product__item">
                              <div class="prices-list-product__label -line-list">Стрижка мужская</div>
                              <div class="prices-list-product__price">60$</div>
                           </div>
                           <div class="prices-list-product__item">
                              <div class="prices-list-product__label -line-list">Стрижка женская</div>
                              <div class="prices-list-product__price">80$</div>
                           </div>
                           <div class="prices-list-product__item">
                              <div class="prices-list-product__label -line-list">Стрижка мужская</div>
                              <div class="prices-list-product__price">60$</div>
                           </div>
                           <div class="prices-list-product__item -add-price">
                              <div class="prices-list-product__label -line-list">Стрижка мужская</div>
                              <div class="prices-list-product__price">60$</div>
                           </div>
                           <div class="prices-list-product__item -add-price">
                              <div class="prices-list-product__label -line-list">Стрижка мужская</div>
                              <div class="prices-list-product__price">60$</div>
                           </div>
                           <div class="prices-list-product__item -add-price">
                              <div class="prices-list-product__label -line-list">Стрижка мужская</div>
                              <div class="prices-list-product__price">60$</div>
                           </div>
                        </div>
                        <div class="prices-list-product__footer">
                           <a href="" class="prices-list-product__more">All price</a>
                        </div>
                     </div> -->
                     <!-- <a href="" class="product__download">Price list</a> -->
                  <!-- </div> -->
               {% include 'includes/detail_map.html' %}
                  <a href="" data-me="991.98, .product__container, last" class="info-product__btn info-product__btn_job-single btn-product btn-product_grey">Report ads</a>
{% include 'includes/detail_comments.html' %}

{% include 'includes/detail_product_side.html' %}
            </div>
            </div>
         </div>
         <div class="page__banner banner-single banner-single_abc-single">
            <div class="banner-single__container -container">
               <div class="banner-single__image -ai"><img src="{% static 'img/entertainment/location.png' %}" alt=""></div>
            </div>
         </div>
         <div class="page__similar-ads similar-ads similar-ads_abc-single">
            <div class="similar-ads__container -container">
               <h2 class="similar-ads__title title">Similar Ads</h2>
               <div class="similar-ads__slider slider-similar-ads">
                  <div class="slider-similar-ads__body swiper">
                     <div class="slider-similar-ads__wrapper swiper-wrapper">
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                                 <div class="slider-item-products-ads__body swiper">
                                    <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                    </div>
                                 </div>
                                 <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                              </div>
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>Sanger, United States</span>
                                 </div>
                                 <a href="" class="item-content__title">Stephen Alexander Homes</a>
                                 <div class="item-content__category">
                                    Property
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                                 <div class="slider-item-products-ads__body swiper">
                                    <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                    </div>
                                 </div>
                                 <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                              </div>
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>Sanger, United States</span>
                                 </div>
                                 <a href="" class="item-content__title">Stephen Alexander Homes</a>
                                 <div class="item-content__category">
                                    Property
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                                 <div class="slider-item-products-ads__body swiper">
                                    <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                    </div>
                                 </div>
                                 <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                              </div>
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>Sanger, United States</span>
                                 </div>
                                 <a href="" class="item-content__title">Stephen Alexander Homes</a>
                                 <div class="item-content__category">
                                    Property
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                                 <div class="slider-item-products-ads__body swiper">
                                    <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                    </div>
                                 </div>
                                 <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                              </div>
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>Sanger, United States</span>
                                 </div>
                                 <a href="" class="item-content__title">Stephen Alexander Homes</a>
                                 <div class="item-content__category">
                                    Property
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                                 <div class="slider-item-products-ads__body swiper">
                                    <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                    </div>
                                 </div>
                                 <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                              </div>
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>Sanger, United States</span>
                                 </div>
                                 <a href="" class="item-content__title">Stephen Alexander Homes</a>
                                 <div class="item-content__category">
                                    Property
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                                 <div class="slider-item-products-ads__body swiper">
                                    <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                    </div>
                                 </div>
                                 <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                              </div>
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>Sanger, United States</span>
                                 </div>
                                 <a href="" class="item-content__title">Stephen Alexander Homes</a>
                                 <div class="item-content__category">
                                    Property
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                                 <div class="slider-item-products-ads__body swiper">
                                    <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                    </div>
                                 </div>
                                 <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                              </div>
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>Sanger, United States</span>
                                 </div>
                                 <a href="" class="item-content__title">Stephen Alexander Homes</a>
                                 <div class="item-content__category">
                                    Property
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="slider-similar-ads__slide swiper-slide">
                           <div class="slider-similar-ads__item item-ads">
                              <div class="item-ads__slider slider-item-products-ads slider-item-products-ads_nh">
                                 <div class="slider-item-products-ads__body swiper">
                                    <div class="slider-item-products-ads__wrapper swiper-wrapper">
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                       <div class="slider-item-products-ads__slide swiper-slide">
                                          <a href="" class="slider-item-products-ads__image -ai"><img src="img/ads/image-01.jpg" alt=""></a>
                                       </div>
                                    </div>
                                 </div>
                                 <a href="" class="slider-item-products-ads__pagination -slider-pagination-row"></a>
                              </div>
                              <div class="item-ads__content item-content">
                                 <div class="item-content__meta">
                                    <span><span class="-icon-map"></span>Sanger, United States</span>
                                 </div>
                                 <a href="" class="item-content__title">Stephen Alexander Homes</a>
                                 <div class="item-content__category">
                                    Property
                                 </div>
                                 <div class="item-content__footer">
                                    <div class="item-content__rating item-content__rating_nmb"><span class="-icon-star"></span>4.7 (145 review)</div>
                                    <div class="item-content__actions">
                                       <a href="" class="item-content__share"><span class="-icon-share"></span></a>
                                       <a href="" class="item-content__like"><span class="-icon-like"></span></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="slider-similar-ads__arrows arrows-slider">
                     <div class="arrows-slider__arrow arrows-slider__arrow_prev"><span class="-icon-arrow-right"></span></div>
                     <div class="arrows-slider__arrow arrows-slider__arrow_next"><span class="-icon-arrow-right"></span></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="page__question question question_abc-single">
            <div class="question__container -container">
               <h2 class="question__title title">Do you have something to sell?</h2>
               <div class="question__subtitle subtitle">This is where businesses in Bangladesh trade, numerous business and industry services offered<br> to trade and consumers.</div>
               <a href="" class="question__btn btn">Submit on ad</a>
            </div>
         </div>
      </div>


{% endblock %}