{% extends 'base.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'location_field/leaflet.css' %}" />
        <script src="{% static 'location_field/leaflet.js' %}"></script>
    </head>
    <div class="container" style="" >
{% block create_content %}

{% endblock %}
</div>
    <style>
    .container input{
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px black;
    }
    .container select{
        box-shadow: 0 0 5px black;
        padding: 5px;
        width: 150px;
        border-radius: 5px;

    }
    .container textarea{
        box-shadow: 0 0 5px black;
            padding: 5px;
            border-radius: 5px;
    }
    </style>

{% endblock %}
